{include file="layout/header"/}
{include file="layout/head-nav" /}
<div class="layout-wide">

    <div class="inner clearfix">
        <div class="placeinfo clearfix">
            <div id="slide" class="fl">
                <ul>
                    <li><a href=""><img src="/static/images/temp/1.jpg" width="630" height="310"/>
                        <p>测试一</p></a></li>
                    <li><a href=""><img src="/static/images/temp/2.jpg" width="630" height="310"/>
                        <p>测试一</p></a></li>
                    <li><a href=""><img src="/static/images/temp/3.jpg" width="630" height="310"/>
                        <p>测试一</p></a></li>
                    <li><a href=""><img src="/static/images/temp/4.jpg" width="630" height="310"/>
                        <p>测试一</p></a></li>
                </ul>
            </div>
            <div class="info-box fr">
                <h2>简介</h2>
                <div class="base-intro">
                    我们喜欢一个艺人可能是因为颜值和人品或者作品等很多理由，但是讨厌一个艺人也许仅仅就是因为他人品差，演技差甚至因为看到他抠鼻屎而反感，难道这不是我们的自由吗？我现在讨厌他的政治立场，讨厌他想挣钱便否认他台独的虚伪面孔，所以我拒绝他的电影，拒绝让他赚我的钱！这通通是我的自由！
                </div>
                <dl>
                    <dt>城市信息</dt>
                    <dd>
                        <ul class="clearfix">
                            <li><label>所属省份</label><span>江西省</span></li>
                            <li><label>行政级别</label><span>地级市</span></li>
                            <li><label>行政代码</label><span>360800</span></li>
                            <li><label>邮政编码</label><span>343000</span></li>
                            <li><label>电话区号</label><span>0796</span></li>
                            <li><label>车牌号码</label><span>赣D</span></li>
                            <li><label>国土面积</label><span>25300平方公里</span></li>
                            <li><label>全市人口</label><span>530.4万</span></li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <script src="/static/js/slideplayer.js"></script>
    <script language="javascript">
        jQuery(function () {
            new slideplayer("#slide", {width: "630px", height: "310px", fontsize: "14px", time: "5000"});
        })
    </script>

    <div class="inner clearfix">
        <div class="mainbody fl">

            <div class="mbox">
                <h2>热门景区</h2>
                <div class="cont scenic">
                    <div class="inner">
                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mbox">
                <h2>名人</h2>
                <div class="cont celebrity">
                    <div class="inner">
                        <div class="col-sm-3">
                            <div class="card">
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2927743012,2657601415&amp;fm=58" alt="">
                                <div class="card-content text-muted">
                                    文天祥（1236年6月6日－1283年1月9日），初名云孙，字宋瑞，一字履善。自号文山、浮休道人。江西吉州庐陵（今江西省吉安市青原区富田镇）人，宋末政治家、文学家，爱国诗人，抗元名臣，民族英雄，与陆秀夫、张世杰并称为“宋末三杰”。宝祐四年（公元1256年）状元及第，官至右丞相，封信国公。于五坡岭..
                                </div>
                                <div class="card-actions">
                                    <a class="btn btn-primary" href="your/url/">查看详情</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="card">
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2927743012,2657601415&amp;fm=58" alt="">
                                <div class="card-content text-muted">
                                    文天祥（1236年6月6日－1283年1月9日），初名云孙，字宋瑞，一字履善。自号文山、浮休道人。江西吉州庐陵（今江西省吉安市青原区富田镇）人，宋末政治家、文学家，爱国诗人，抗元名臣，民族英雄，与陆秀夫、张世杰并称为“宋末三杰”。宝祐四年（公元1256年）状元及第，官至右丞相，封信国公。于五坡岭..
                                </div>
                                <div class="card-actions">
                                    <a class="btn btn-primary" href="your/url/">查看详情</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="card">
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2927743012,2657601415&amp;fm=58" alt="">
                                <div class="card-content text-muted">
                                    文天祥（1236年6月6日－1283年1月9日），初名云孙，字宋瑞，一字履善。自号文山、浮休道人。江西吉州庐陵（今江西省吉安市青原区富田镇）人，宋末政治家、文学家，爱国诗人，抗元名臣，民族英雄，与陆秀夫、张世杰并称为“宋末三杰”。宝祐四年（公元1256年）状元及第，官至右丞相，封信国公。于五坡岭..
                                </div>
                                <div class="card-actions">
                                    <a class="btn btn-primary" href="your/url/">查看详情</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="card">
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2927743012,2657601415&amp;fm=58" alt="">
                                <div class="card-content text-muted">
                                    文天祥（1236年6月6日－1283年1月9日），初名云孙，字宋瑞，一字履善。自号文山、浮休道人。江西吉州庐陵（今江西省吉安市青原区富田镇）人，宋末政治家、文学家，爱国诗人，抗元名臣，民族英雄，与陆秀夫、张世杰并称为“宋末三杰”。宝祐四年（公元1256年）状元及第，官至右丞相，封信国公。于五坡岭..
                                </div>
                                <div class="card-actions">
                                    <a class="btn btn-primary" href="your/url/">查看详情</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        {include file="layout/place-side"/}
    </div>
</div>
{include file="layout/footer"/}