{include file="layout/header"/}
{include file="layout/head-nav" /}
<div class="layout-wide">
    <div class="inner clearfix">
        <div class="mainbody fl">
            <div class="mbox">
                <h2>景点景区</h2>
                <div class="cont scenic">
                    <div class="inner">
                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="card" href="###">
                                <div class="card-heading">井冈山风景旅游区</div>
                                <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                                <div class="card-content col-sm-2">
                                    井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                                </div>
                                <div class="card-actions">
                                    <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351
                                    </div>
                                    <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pagebar text-center">
                    <b class="a1">171条</b> <a href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=0"
                                              class="a1">上一页</a> <span>1</span> <a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=2">2</a> <a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=3">3</a> <a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=4">4</a> <a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=5">5</a> <a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=6">6</a> <a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=7">7</a> <a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=8">8</a> <a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=9">9</a> <a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=10">10</a> ..<a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=18">18</a> <a
                        href="http://www.fadangjia.com/index.php?m=cf&amp;c=mtag&amp;page=2" class="a1">下一页</a>
                </div>
            </div>
        </div>

        {include file="layout/place-side"/}
    </div>
</div>
{include file="layout/footer"/}