body { font-family: "Microsoft YaHei", tahoma, arial, "微软雅黑" }
.wd100 { height:40px; width:100%; }
.container-fixed {width:1190px;}
a:link,a:visited{color:#16B}
a:hover,a:active{color:#f60}

header .global-header {
    position:fixed; top:0; left:0; z-index:100;background:#383838 url('../images/header/bg_hd.jpg') 0 0 repeat-x; width:100% !important; height:40px;padding:0;text-align:center;box-shadow:0 1px 2px rgba(0,0,0,0.4)
}
.global-header .global-header-inner {zoom:1; width:1100px; margin:0px auto; text-align:left;  }
.global-header-inner .left{float:left}
.global-header-inner .right{float:right}
.global-header-inner .logo{float:left;margin-right:12px; margin-top:3px;}
.global-header-inner .logo a{display:block;width:136px;height:36px;overflow:hidden;text-indent:-999em;background:url('../images/header/small_logo.png') 0 0 no-repeat;_background:url(../images/header/small_logo.png) 0 0 no-repeat}

.global-header-inner .nav { float:right; margin-top:0; }
.nav-custom > li { float:left; margin-right: 10px; }
.nav-custom > li > a { color:#ccc; display: inline-block; padding: 2px 10px; margin-top:6px; border-radius: 2px; border:1px solid #363636; }
.nav-custom > li:hover > a, .nav-custom > li.active > a {
    background:url(../images/header/menu_bg.png) repeat-x; background-color:#545454;
    display: inline-block; padding: 2px 10px;
    color:#eee;
    border:1px solid #666; border-radius: 2px;
    transition: none;
}

.nav-custom .dropdown-menu {  background: url('../images/header/bg_down.png') -616px 0px no-repeat; }
.nav-custom .dropdown-menu > li a { color:#ccc; }
.nav-custom .dropdown-menu > li:hover a { background-color: #666; color:#eee }

.global-header-inner .login-nav{float:left;color:#808080;margin:1px 0}
.global-header-inner .login-nav li{display:inline;float:left;position:relative;z-index:1}
.global-header-inner .login-nav li .gap{margin:0 6px}
.global-header-inner .login-nav .login-first-party{margin-right:30px;line-height:40px}
.global-header-inner .login-nav .login-third-party{color:#ccc !important;; display:block;text-align:center;width:116px;height:28px;line-height:28px;_height:21px;_padding-top:7px;_overflow:hidden}
.global-header-inner .login-nav .login-first-party a { color:#ccc !important; }

footer { width:100%; border-top:2px solid #ccc; padding-top:10px; margin-top:40px; background:#f4f4f4 }
footer .footer { width:1100px; margin:0px auto 10px; height:25px; text-align: center; line-height:25px; color:#999; font-size:14px;}
.footer > a { font-size:14px; color:#666; margin:0 5px }
.copyright { text-align: center; padding-bottom: 25px; color:#999; font-family: "Microsoft YaHei", tahoma, arial, "微软雅黑" }