.center-block > h1, .center-block > p { text-align: center; }
.index-recommend-title { margin-top:85px; }


.recommend_item_tab { width:460px; margin:45px auto !important; }

.recommend_item_tab li { display: inline-block; background: #f4f4f4; border: #eee solid 1px; border-radius: 3px; color: #666; font-size: 14px; line-height: 28px; padding: 0 13px; margin: 0 10px; cursor: pointer; }
.recommend_item_body { height:410px; padding:20px 0 }
.recommend_item_tab li.active,.recommend_item_tab li:hover{ background:#00bf49; border:#00bf49 solid 1px; color:#fff; position:relative;}
.recommend_item_tab li.active:before{ content:" "; position:absolute; border:transparent solid 4px; border-width:6px 4px 6px 4px; border-top-color:#00bf49; top:29px; left:50%; margin-left:-4px;}

.recommend_item_body .cont { width:1190px; height:auto; overflow: hidden;}
.celebrity .inner, .scenic .inner, .food  .inner, .school .inner { width:1290px; }
.scenic .inner, .food  .inner, .school .inner { text-align: left;  }

.celebrity .col-sm-3 {width:240px;}
.celebrity .card img{ width:185px;
    height:220px; margin:15px auto; }
.celebrity .card .card-content, .celebrity .card .card-actions { width:185px !important; margin:0 auto 5px; padding:0; }
.celebrity .card .card-content { color:#777; height:80px; overflow: hidden; margin-bottom: 10px; }
.celebrity .card .card-actions { margin-bottom: 15px; text-align: center; }
.celebrity .card .card-actions a {color:#fff !important;  }


.scenic .inner > .col-sm-3 { width:400px; height:180px; }
.scenic .card:visited { text-decoration: none; }
.scenic .card .card-heading { font-size:16px; color:#666; text-decoration: none;}
.scenic .card .col-sm-1 { width:120px; height:90px; padding:0; margin-left:10px; }
.scenic .card .card-img img { width:120px !important; height:90px; }
.scenic .card .col-sm-2 { width:248px; height:90px;  line-height:22px; overflow: hidden; color:#999; }
.scenic .card .card-actions { width:360px; margin:0px auto 0; padding-top: 5px; }
.scenic .card .card-actions > div {margin-left: 10px; color:#666; font-size:12px; }
.scenic .card-actions i { color:orangered; font-size:14px;  }

.food .col-sm-4 { width:300px; height: 302px; }
.food a:visited, .food a:hover, .food a:active { text-decoration: none; }
.food  .card-heading { font-weight: bold; font-size:14px; color:#666; }
.food  .card-heading span { float:right; color: #999; font-weight: 100; }
.food  .card-heading span > i { color:orangered; margin-right: 5px; }
.food  .card-content { color:#888; }

.school .col-sm-3 {width:400px; height: 180px; margin-bottom: 20px;}
.school .card .col-sm-1 { width:160px; height:160px; padding:0; margin-top:10px; margin-left:10px; }
.school .card .col-sm-1 img { width:160px !important; height:160px; border:1px solid #eee; }
.school .card .col-sm-2 { width:200px; height:180px;  line-height:22px; overflow: hidden; color:#999;  }
.school .card .card-heading { font-size:16px; font-weight: bold; color:#333; text-align: left; padding-bottom:5px;}
.school .card .card-content { height: 100px; width:200px; line-height: 20px; overflow: hidden;}
.school .card .card-actions { margin:0px auto 0; padding-top: 5px; }
.school .card .card-actions > div {margin-left: 10px; color:#666; font-size:12px; }
.school .card-actions i { color:orangered; font-size:14px;  }

