{include file="layout/header"/}
<section>
    <div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
        <!-- 圆点指示器 -->
        <ol class="carousel-indicators">
            <li data-target="#myNiceCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myNiceCarousel" data-slide-to="1"></li>
            <li data-target="#myNiceCarousel" data-slide-to="2"></li>
            <li data-target="#myNiceCarousel" data-slide-to="3"></li>
        </ol>

        <!-- 轮播项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img alt="First slide" src="https://gw.alicdn.com/tps/TB1TbUyOpXXXXbCXVXXXXXXXXXX-1440-350.jpg">
                <div class="carousel-caption">
                    <h3>英国</h3>
                    <p>邂逅英伦 发现惊喜</p>
                </div>
            </div>
            <div class="item">
                <img alt="Second slide" src="https://gw.alicdn.com/tps/TB1qsA0OXXXXXcUaXXXXXXXXXXX-1440-350.jpg">
                <div class="carousel-caption">
                    <h3>泰国</h3>
                    <p>佛印莲池 斑斓泰韵</p>
                </div>
            </div>
            <div class="item">
                <img alt="Third slide" src="https://gw.alicdn.com/tps/TB1MCHCNVXXXXX7aXXXXXXXXXXX-1440-350.jpg">
                <div class="carousel-caption">
                    <h3>马来西亚</h3>
                    <p>亚洲魅力所在</p>
                </div>
            </div>
            <div class="item">
                <img alt="Third slide" src="https://gw.alicdn.com/tps/TB1bDwTNVXXXXbMXFXXXXXXXXXX-1440-350.jpg">
                <div class="carousel-caption">
                    <h3>芬兰</h3>
                    <p>千湖之国 绚丽极光</p>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="container-fixed">
    <div class="center-block index-recommend-title">
        <h1>热门推荐</h1>
        <p>名人推荐，美食推荐，景点推荐，当地企业推荐</p>
    </div>
    <div class="recommend_item_tab">
        <ul>
            <li class="">名人</li>
            <li class="active">景点</li>
            <li class="">美食特产</li>
            <li class="">学校</li>
            <li class="">企业</li>
        </ul>
    </div>
    <div class="index-recommend-box">
        <div class="cont celebrity">
            <div class="inner">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2927743012,2657601415&amp;fm=58" alt="">
                        <div class="card-content text-muted">
                            文天祥（1236年6月6日－1283年1月9日），初名云孙，字宋瑞，一字履善。自号文山、浮休道人。江西吉州庐陵（今江西省吉安市青原区富田镇）人，宋末政治家、文学家，爱国诗人，抗元名臣，民族英雄，与陆秀夫、张世杰并称为“宋末三杰”。宝祐四年（公元1256年）状元及第，官至右丞相，封信国公。于五坡岭..
                        </div>
                        <div class="card-actions">
                            <a class="btn btn-primary" href="your/url/">查看详情</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2927743012,2657601415&amp;fm=58" alt="">
                        <div class="card-content text-muted">
                            文天祥（1236年6月6日－1283年1月9日），初名云孙，字宋瑞，一字履善。自号文山、浮休道人。江西吉州庐陵（今江西省吉安市青原区富田镇）人，宋末政治家、文学家，爱国诗人，抗元名臣，民族英雄，与陆秀夫、张世杰并称为“宋末三杰”。宝祐四年（公元1256年）状元及第，官至右丞相，封信国公。于五坡岭..
                        </div>
                        <div class="card-actions">
                            <a class="btn btn-primary" href="your/url/">查看详情</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2927743012,2657601415&amp;fm=58" alt="">
                        <div class="card-content text-muted">
                            文天祥（1236年6月6日－1283年1月9日），初名云孙，字宋瑞，一字履善。自号文山、浮休道人。江西吉州庐陵（今江西省吉安市青原区富田镇）人，宋末政治家、文学家，爱国诗人，抗元名臣，民族英雄，与陆秀夫、张世杰并称为“宋末三杰”。宝祐四年（公元1256年）状元及第，官至右丞相，封信国公。于五坡岭..
                        </div>
                        <div class="card-actions">
                            <a class="btn btn-primary" href="your/url/">查看详情</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2927743012,2657601415&amp;fm=58" alt="">
                        <div class="card-content text-muted">
                            文天祥（1236年6月6日－1283年1月9日），初名云孙，字宋瑞，一字履善。自号文山、浮休道人。江西吉州庐陵（今江西省吉安市青原区富田镇）人，宋末政治家、文学家，爱国诗人，抗元名臣，民族英雄，与陆秀夫、张世杰并称为“宋末三杰”。宝祐四年（公元1256年）状元及第，官至右丞相，封信国公。于五坡岭..
                        </div>
                        <div class="card-actions">
                            <a class="btn btn-primary" href="your/url/">查看详情</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2927743012,2657601415&amp;fm=58" alt="">
                        <div class="card-content text-muted">
                            文天祥（1236年6月6日－1283年1月9日），初名云孙，字宋瑞，一字履善。自号文山、浮休道人。江西吉州庐陵（今江西省吉安市青原区富田镇）人，宋末政治家、文学家，爱国诗人，抗元名臣，民族英雄，与陆秀夫、张世杰并称为“宋末三杰”。宝祐四年（公元1256年）状元及第，官至右丞相，封信国公。于五坡岭..
                        </div>
                        <div class="card-actions">
                            <a class="btn btn-primary" href="your/url/">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cont scenic hide">
        <div class="inner">
            <div class="col-sm-3">
                <a class="card" href="###">
                    <div class="card-heading">井冈山风景旅游区</div>
                    <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                    <div class="card-content col-sm-2">
                        井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                    </div>
                    <div class="card-actions">
                        <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351</div>
                        <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520</div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3">
                <a class="card" href="###">
                    <div class="card-heading">井冈山风景旅游区</div>
                    <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                    <div class="card-content col-sm-2">
                        井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                    </div>
                    <div class="card-actions">
                        <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351</div>
                        <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520</div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3">
                <a class="card" href="###">
                    <div class="card-heading">井冈山风景旅游区</div>
                    <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                    <div class="card-content col-sm-2">
                        井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                    </div>
                    <div class="card-actions">
                        <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351</div>
                        <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520</div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3">
                <a class="card" href="###">
                    <div class="card-heading">井冈山风景旅游区</div>
                    <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                    <div class="card-content col-sm-2">
                        井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                    </div>
                    <div class="card-actions">
                        <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351</div>
                        <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520</div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3">
                <a class="card" href="###">
                    <div class="card-heading">井冈山风景旅游区</div>
                    <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                    <div class="card-content col-sm-2">
                        井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                    </div>
                    <div class="card-actions">
                        <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351</div>
                        <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520</div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3">
                <a class="card" href="###">
                    <div class="card-heading">井冈山风景旅游区</div>
                    <div class="card-img col-sm-1"><img src="/static/images/temp/jq1.jpg" alt=""></div>
                    <div class="card-content col-sm-2">
                        井冈山（Jinggangshan），国家5A级旅游景区，国家级重点风景名胜区，国家级自然保护区，中国文明风景旅游区，中国重点文物保护单位，全国红色旅游景区，中国百家爱国...
                    </div>
                    <div class="card-actions">
                        <div class="pull-right text-danger" title="去过"><i class="icon-map-marker"></i> 351</div>
                        <div class="pull-right text-danger" title="想去"><i class="icon icon-heart"></i> 520</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

        <div class="cont food hide">
            <div class="inner">
                <div class="col-sm-4">
                    <a class="card" href="###">
                        <div class="card-img"><img src="/static/images/temp/111.jpg" alt=""></div>
                        <div class="card-heading">吉安炒粉<span><i class="icon icon-certificate"></i>热度 7893</span></div>
                        <div class="card-content">
                            吉安炒粉为江西著名小吃，味道可口，老少咸宜，是深受大众喜爱的小吃之一。深受喜爱吉安炒粉可以说是吉安的一大特色小吃..
                        </div>
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger"> <i class="icon-heart"></i> 喜欢 </button>
                            <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a class="card" href="###">
                        <div class="card-img"><img src="/static/images/temp/111.jpg" alt=""></div>
                        <div class="card-heading">吉安炒粉<span><i class="icon icon-certificate"></i>热度 7893</span></div>
                        <div class="card-content">
                            吉安炒粉为江西著名小吃，味道可口，老少咸宜，是深受大众喜爱的小吃之一。深受喜爱吉安炒粉可以说是吉安的一大特色小吃..
                        </div>
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger"> <i class="icon-heart"></i> 喜欢 </button>
                            <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a class="card" href="###">
                        <div class="card-img"><img src="/static/images/temp/111.jpg" alt=""></div>
                        <div class="card-heading">吉安炒粉<span><i class="icon icon-certificate"></i>热度 7893</span></div>
                        <div class="card-content">
                            吉安炒粉为江西著名小吃，味道可口，老少咸宜，是深受大众喜爱的小吃之一。深受喜爱吉安炒粉可以说是吉安的一大特色小吃..
                        </div>
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger"> <i class="icon-heart"></i> 喜欢 </button>
                            <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a class="card" href="###">
                        <div class="card-img"><img src="/static/images/temp/111.jpg" alt=""></div>
                        <div class="card-heading">吉安炒粉<span><i class="icon icon-certificate"></i>热度 7893</span></div>
                        <div class="card-content">
                            吉安炒粉为江西著名小吃，味道可口，老少咸宜，是深受大众喜爱的小吃之一。深受喜爱吉安炒粉可以说是吉安的一大特色小吃..
                        </div>
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger"> <i class="icon-heart"></i> 喜欢 </button>
                            <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="cont school hide">
            <div class="inner">
                <div class="col-sm-3">
                    <a class="card" href="###">
                        <div class="col-sm-1"><img src="/static/images/temp/5882b2b7d0a20cf4c2cab56976094b36acaf992a.jpg" alt=""></div>
                        <div class="col-sm-2">
                            <div class="card-heading">井冈山大学</div>
                            <div class="card-content">
                                井冈山大学是江西省人民政府和教育部共同重点支持建设高校，同济大学对口支援和南京军区委托培养军队干部的高等院校，与武汉大学建立全面支持合作关系。为全国红色经典艺术教育示范基地，国家学士学位单位开展...
                            </div>
                            <div class="card-actions">
                                <div class="pull-right text-danger" title="讨论"><i class="icon icon-comment"></i> 351</div>
                                <div class="pull-right text-danger" title="校友"><i class="icon icon-group"></i> 520</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3">
                    <a class="card" href="###">
                        <div class="col-sm-1"><img src="/static/images/temp/5882b2b7d0a20cf4c2cab56976094b36acaf992a.jpg" alt=""></div>
                        <div class="col-sm-2">
                            <div class="card-heading">井冈山大学</div>
                            <div class="card-content">
                                井冈山大学是江西省人民政府和教育部共同重点支持建设高校，同济大学对口支援和南京军区委托培养军队干部的高等院校，与武汉大学建立全面支持合作关系。为全国红色经典艺术教育示范基地，国家学士学位单位开展...
                            </div>
                            <div class="card-actions">
                                <div class="pull-right text-danger" title="讨论"><i class="icon icon-comment"></i> 351</div>
                                <div class="pull-right text-danger" title="校友"><i class="icon icon-group"></i> 520</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3">
                    <a class="card" href="###">
                        <div class="col-sm-1"><img src="/static/images/temp/5882b2b7d0a20cf4c2cab56976094b36acaf992a.jpg" alt=""></div>
                        <div class="col-sm-2">
                            <div class="card-heading">井冈山大学</div>
                            <div class="card-content">
                                井冈山大学是江西省人民政府和教育部共同重点支持建设高校，同济大学对口支援和南京军区委托培养军队干部的高等院校，与武汉大学建立全面支持合作关系。为全国红色经典艺术教育示范基地，国家学士学位单位开展...
                            </div>
                            <div class="card-actions">
                                <div class="pull-right text-danger" title="讨论"><i class="icon icon-comment"></i> 351</div>
                                <div class="pull-right text-danger" title="校友"><i class="icon icon-group"></i> 520</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3">
                    <a class="card" href="###">
                        <div class="col-sm-1"><img src="/static/images/temp/5882b2b7d0a20cf4c2cab56976094b36acaf992a.jpg" alt=""></div>
                        <div class="col-sm-2">
                            <div class="card-heading">井冈山大学</div>
                            <div class="card-content">
                                井冈山大学是江西省人民政府和教育部共同重点支持建设高校，同济大学对口支援和南京军区委托培养军队干部的高等院校，与武汉大学建立全面支持合作关系。为全国红色经典艺术教育示范基地，国家学士学位单位开展...
                            </div>
                            <div class="card-actions">
                                <div class="pull-right text-danger" title="讨论"><i class="icon icon-comment"></i> 351</div>
                                <div class="pull-right text-danger" title="校友"><i class="icon icon-group"></i> 520</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3">
                    <a class="card" href="###">
                        <div class="col-sm-1"><img src="/static/images/temp/5882b2b7d0a20cf4c2cab56976094b36acaf992a.jpg" alt=""></div>
                        <div class="col-sm-2">
                            <div class="card-heading">井冈山大学</div>
                            <div class="card-content">
                                井冈山大学是江西省人民政府和教育部共同重点支持建设高校，同济大学对口支援和南京军区委托培养军队干部的高等院校，与武汉大学建立全面支持合作关系。为全国红色经典艺术教育示范基地，国家学士学位单位开展...
                            </div>
                            <div class="card-actions">
                                <div class="pull-right text-danger" title="讨论"><i class="icon icon-comment"></i> 351</div>
                                <div class="pull-right text-danger" title="校友"><i class="icon icon-group"></i> 520</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3">
                    <a class="card" href="###">
                        <div class="col-sm-1"><img src="/static/images/temp/5882b2b7d0a20cf4c2cab56976094b36acaf992a.jpg" alt=""></div>
                        <div class="col-sm-2">
                            <div class="card-heading">井冈山大学</div>
                            <div class="card-content">
                                井冈山大学是江西省人民政府和教育部共同重点支持建设高校，同济大学对口支援和南京军区委托培养军队干部的高等院校，与武汉大学建立全面支持合作关系。为全国红色经典艺术教育示范基地，国家学士学位单位开展...
                            </div>
                            <div class="card-actions">
                                <div class="pull-right text-danger" title="讨论"><i class="icon icon-comment"></i> 351</div>
                                <div class="pull-right text-danger" title="校友"><i class="icon icon-group"></i> 520</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="center-block index-recommend-title mt50" >
        <h1>热点地区</h1>
        <p>大家喜欢的热点城市，热门的区县市</p>
    </div>
</div>
<script>
    $('.recommend_item_tab li').on('click', function () {
        var idx = $('.recommend_item_tab li').index(this);
        $('.recommend_item_tab li').removeClass('active')
        $('.recommend_item_tab li').eq(idx).addClass('active')
        $('.index-recommend-box').find('.cont').hide();
        $('.index-recommend-box').find('.cont').eq(idx).show();
    })
    $('.recommend_item_tab li').eq(0).click();

</script>
{include file="layout/footer"/}