<section class="place-head">
    <div class="head-body">
        <div class="head-top">
            <h1>吉安市 <span>Jian</span></h1>
        </div>
        <ul class="nav nav-place">
            <li{$active.index}><a href="/place/">首页</a></li>
            <li{$active.intro}><a href="/place/intro/">简介</a></li>
            <li{$active.history}><a href="/place/history/">历史沿革</a></li>
            <li{$active.area}><a href="/place/area/">行政区划</a></li>
            <li{$active.scenic}><a href="/place/scenic/">景点景区</a></li>
            <li{$active.food}><a href="/place/food/">美食特产</a></li>
            <li{$active.celebrity}><a href="/place/celebrity/">名人</a></li>
            <li{$active.school}><a href="/place/school/">学校</a></li>
        </ul>
    </div>
</section>