<div class="side fr">
    <div class="map mt10">
        地图
    </div>

    <div class="bbox area mt10">
        <h2>吉安行政区划</h2>
        <div class="cont clearfix">
            <ul>
                <li><a href="javascript:;">吉安县</a></li>
                <li><a href="javascript:;">吉水县</a></li>
                <li><a href="javascript:;">吉州区</a></li>
                <li><a href="javascript:;">青原区</a></li>
                <li><a href="javascript:;">永丰县</a></li>
                <li><a href="javascript:;">永新县</a></li>
                <li><a href="javascript:;">新干县</a></li>
                <li><a href="javascript:;">峡江县</a></li>
                <li><a href="javascript:;">泰和县</a></li>
                <li><a href="javascript:;">万安县</a></li>
                <li><a href="javascript:;">遂川县</a></li>
                <li><a href="javascript:;">井冈山市</a></li>
            </ul>
        </div>
    </div>

    <div class="bbox food mt10">
        <h2>吉安美食特产</h2>
        <div class="cont">
            <ul class="clearfix">
                <li><a href="javascript:;" target="_blank"><img src="http://p1.cncnimg.cn/eat/0/19.jpg"><p>沙茶面</p></a></li>
                <li><a href="javascript:;" target="_blank"><img src="http://p1.cncnimg.cn/eat/3/3301.jpg"><p>海蛎煎</p></a></li>
                <li><a href="javascript:;" target="_blank"><img src="http://p1.cncnimg.cn/eat/0/20.jpg"><p>花生汤</p></a></li>
                <li><a href="javascript:;" target="_blank"><img src="http://p1.cncnimg.cn/eat/3/3302.jpg"><p>姜母鸭</p></a></li>
                <li><a href="javascript:;" target="_blank"><img src="http://p1.cncnimg.cn/eat/3/3303.jpg"><p>海鲜</p></a></li>
                <li><a href="javascript:;" target="_blank"><img src="http://p1.cncnimg.cn/eat/3/3304.jpg"><p>白灼章鱼</p></a></li>
                <li><a href="javascript:;" target="_blank"><img src="http://p1.cncnimg.cn/eat/3/3307.jpg"><p>烧肉粽</p></a></li>
                <li><a href="javascript:;" target="_blank"><img src="http://p1.cncnimg.cn/eat/0/29.jpg"><p>面线糊</p></a></li>
            </ul>
        </div>
    </div>
</div>